<div class="container-wrapper">
    <div class="register-form-container">
      <form class="register-container" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  
        <h2 class="form-title">Register</h2>
  
        <div class="form-group">
          <label for="name">Name:</label>
          <input id="name" formControlName="name" type="text" class="form-control" />
          <div *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.invalid" class="error-message">
            <small *ngIf="registerForm.get('name')?.errors?.['required']">Name is required.</small>
          </div>
        </div>
  
        <div class="form-group">
          <label for="email">Email:</label>
          <input id="email" formControlName="email" type="email" class="form-control" />
          <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid" class="error-message">
            <small *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</small>
            <small *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email format.</small>
          </div>
        </div>
  
        <div class="form-group">
          <label for="password">Password:</label>
          <input id="password" formControlName="password" type="password" class="form-control" />
          <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid" class="error-message">
            <small *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</small>
          </div>
        </div>
  
        <div class="form-group">
          <label for="phoneNumber">Phone Number:</label>
          <input id="phoneNumber" formControlName="phoneNumber" type="text" class="form-control" />
          <div *ngIf="registerForm.get('phoneNumber')?.touched && registerForm.get('phoneNumber')?.invalid" class="error-message">
            <small *ngIf="registerForm.get('phoneNumber')?.errors?.['required']">Phone number is required.</small>
          </div>
        </div>
  
        <button type="submit" class="reg-btn" [disabled]="registerForm.invalid">Register</button>
      </form>
    </div>
  </div>
  